<div class="backdrop is-hidden">
  <div class="modal">
    <!-- <div class="gallery-item" id="${id}">
      <div class="gallery-image">
        <img
          src="${imageUrl}${imageSize}${poster_path}"
          alt="${original_title}"
        />
      </div>
      <h2 class="gallery-item-title">${original_title}</h2>
      <span class="gallery-item-prop">${genresArray} | ${year} | ${vote}</span>
    </div> -->
    <button type="button" id="watched">Watched</button>
    <button type="button" id="queue">Queue</button>
  </div>
</div>
